/* THE WRAPPER */
.countdown {
  display: flex;
  margin: 0 auto;
  max-width: 350px;
  background-color: rgba(0,0,0,0);
  font-family:gothic-bold;
  text-align: center;
  border-radius:10px;
  position:absolute;
  z-index:9;
  top:30%;
  left:35%;
}

/* DAY/HR/MIN/SEC */
.countdown .square {
  flex-grow: 1;
  padding: 10px;
  margin: 5px;
}
.countdown .digits {
  font-size: 24px;
  background: #fff;
  color: #000;
  padding: 20px 10px;
  border-radius: 5px;
}
.countdown .text {
  margin-top: 5px;
  color: #fff;
}

/* IF YOU WANT TO SPECIFICALLY STYLE THE DAY/HR/MIN/SEC
.countdown .square.days .digits { }
.countdown .square.hours .digits { }
.countdown .square.minutes .digits { }
.countdown .square.seconds .digits { }
*/