/*fonts*/
@font-face {
    font-family: gothic-bold;
    src: url(../fonts/Gothic-B.ttf);
}

@font-face {
    font-family: gothic;
    src: url(../fonts/Gothic.ttf);
}

@font-face {
    font-family: ubuntu;
    src: url(../fonts/Ubuntu-R.ttf);
}

@font-face {
    font-family: impact;
    src: url(../fonts/Impact.ttf);
}

/*resets*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "gothic", Arial, Helvetica, sans-serif;
}

.overlay {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    background-color: rgba(83, 151, 216, 0.9);
    min-height: 100vh;
    width: 100%;
    animation: fade 2s ease-in 0s 1;
}

.overlay .overlay_content {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    padding-left: 2rem;
}

.overlay label {
    font-weight: 500;
    margin-bottom: -1px;
    margin-left: 8px;
    font-size: 15px;
    font-family: Arial;
    color: rgb(250, 249, 249);
}

.overlay h1 {
    font-family: "gothic-bold";
    color: #fff;
    font-size: 5rem;
    margin-bottom: 1.5rem;
}

.overlay h2 {
    color: #fff;
    font-size: 3rem;
}

.overlay a {
    text-decoration: none;
    color: #333;
    font-family: "gothic-bold";
    background-color: #fff;
    text-align: center;
    padding: 10px 12px;
    border-radius: 25px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-out 0s;
}

.overlay a:hover {
    background-color: #333;
    color: #fff;
}

.nominate {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.nominate p {
    color: #fff;
    text-align: center;
}

.nominate button {
    outline: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 20px;
    position: fixed;
    bottom: 1rem;
    left: 50%;
    padding: 6px 15px;
    cursor: pointer;
    font-family: "gothic-bold";
    color: #3b3b3b;
    transition: all 0.4s ease-out 0s;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.4);
}

.nominate button:hover {
    background-color: #333;
    color: #fff;
}

::-moz-placeholder {
    opacity: 0.8;
    font-size: 14px;
}

::placeholder {
    opacity: 0.8;
    font-size: 14px;
}

/*Vote*/
.vote {
    /* THE WRAPPER */
    /* DAY/HR/MIN/SEC */
    /* IF YOU WANT TO SPECIFICALLY STYLE THE DAY/HR/MIN/SEC
  .countdown .square.days .digits { }
  .countdown .square.hours .digits { }
  .countdown .square.minutes .digits { }
  .countdown .square.seconds .digits { }
  */
    /*when hovering an item:*/
    /*when navigating through the items using the arrow keys:*/
}

body {
    overflow-x: hidden;
}

.vote {
    padding-top: 8%;
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
}

.vote .head-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}

.vote .head-container img {
    width: 150px;
    position: relative;
}

.vote #sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #343a40;
    color: white;
    transition: all 0.3s;
    z-index: 200;
}

.vote #sidebar h5 {
    color: #fff;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 5px;
}

.vote #sidebar hr {
    border: 1px solid #fff;
}

.vote #sidebar.active {
    left: 0;
}

.vote #sidebar ul {
    padding: 0;
}

.vote #sidebar ul li {
    list-style: none;
    padding: 15px;
}

.vote #sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.vote #sidebar ul li a.active {
    background: #fff;
    color: #333;
    padding: 5px 10px;
    border-radius: 20px;
}

.vote #sidebar ul li a:hover {
    background: #d29810;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
}

.vote #toggle-btn {
    cursor: pointer;
    position: absolute;
    color: #fff;
    top: 10px;
    right: 3%;
    z-index: 100;
}

.vote .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.vote .overlay.active {
    display: block;
}

.vote .bg {
    background-image: url("../assets/img/maso-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center 47%;
    min-height: 52vh;
    position: relative;
}

.vote .links {
    position: absolute;
    bottom: 2px;
    left: 2px;
    z-index: 3;
}

.vote .links a {
    display: inline-block;
    padding: 5px 10px;
    margin: 2px 0px 2px 1px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.vote .links a:hover {
    background-color: #d29810;
}

.vote .countdown {
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    border-radius: 10px;
    z-index: 9;
}

.vote .countdown .square {
    flex-grow: 1;
    padding: 5px;
    margin: 5px;
}

.vote .countdown .digits {
    font-size: 24px;
    background: rgba(255, 255, 255, 0.7);
    color: #000;
    padding: 10px;
    border-radius: 10px;
    font-family: "gothic-bold";
    width: 60px;
    height: 60px;
}

.vote .countdown .text {
    margin-top: 1px;
    font-size: 10px;
    /* padding: 5px; */
    border-radius: 5px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    /* box-shadow: 0 0 4px 1px rgba(66, 65, 65, 0.4); */
    /* background-color: rgba(0, 0, 0, 0.3); */
}

.vote .categories {
    margin: 1rem auto;
}

.vote .categories a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: inline-block;
    width: 100%;
    margin: 0.5rem auto;
    border: 1px solid #fff;
    border-radius: 15px;
    transition: all 0.4s ease-out 0s;
    height: 150px;
}

.vote .categories a img {
    width: 40px;
    display: block;
    margin: 10px auto;
}

.vote .categories a.gold {
    background-color: #484220;
}

.vote .categories a.black {
    background-color: #050505;
}

.vote .categories a:hover {
    background-color: #711618;
}

.vote .per-nominee {
    padding: 5rem 0;
    position: relative;
}

.vote .per-nominee input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #711618;
    border-radius: 10px;
    background-color: white;
    font-size: 16px;
    transition: all 0.5s ease-in-out;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
}

.vote .per-nominee select {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #711618;
    border-radius: 10px;
    background-color: white;
    color: #7a7979;
    font-size: 13px;
    transition: all 0.5s ease-in-out;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
    outline: none;
}

.vote .per-nominee .payment {
    display: none;
    align-items: center;
    justify-content: left;
}

.payment .img-container {
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    height: 48px;
    padding: 2px;
    background-color: #fff;
    outline: 2px solid #711618;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vote .per-nominee .payment img {
    width: 42px;
    /* background:#fff; */
    padding: 7px;
}

.vote .per-nominee .payment input {
    border-radius: 0 10px 10px 0;
    border-left: none;
}

.vote .per-nominee input:focus {
    border: 2px solid #961a1c;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    outline: none;
}

.vote label {
    display: flex;
    justify-content: left;
    align-items: center;
}

.label-text {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.label-text-inner {
    display: inline-block;
    padding: 0 10px;
}

.label-decoration {
    margin-left: 10px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: linear-gradient(to right, #961a1c, #711618);
    position: relative;
}

.label-decoration .icons {
    position: absolute;
    left: 8px;
    top: 7px;
    color: #fff;
}

.fancy-button {
    width: 250px;
    height: 50px;
    background: #961a1c;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in-out;
    display: block;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 500px) {
    .fancy-button {
        width: 170px;
        height: 45px;
        font-size: 14px;
    }
}

.fancy-button:hover {
    background-color: #531516;
    color: white;
    outline: none;
}

.fancy-button:active {
    background-color: #a17409;
    color: white;
    outline: none;
    border: none;
}

.swal-custom-button {
    background-color: #961a1c !important;
    color: white !important;
    border: none !important;
    border-radius: 15px !important;
    padding: 8px 20px !important;
    font-size: 15px !important;
}

.swal-custom-button:hover {
    background-color: #c71316 !important;
    /* Darker green on hover */
}

/* Customize the popup background, border radius, etc. */
.swal-custom-popup {
    border-radius: 15px;
    width: 350px;
    height: auto;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Customize the icon size */
.swal-custom-icon {
    width: 50px !important;
    height: 50px !important;
    font-size: 0.6rem !important;
}

/* Center the loader on the screen */
.loader-container {
    margin-top: 15px;
    height: 30px;
}

.swal-message-center {
    font-size: 16px!important;
}

.loader-content {
    justify-content: center;
    align-items: center;
    display: none;
}

/* Loader animation */
.loader {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #961a1c;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

/* Text styling */
.loader-container h6 {
    margin: 0;
    margin-left: 10px;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

/* Keyframes for the spin animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.per-nominee .autocomplete {
    position: relative;
    display: inline-block;
}

.vote .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 35%;
    left: 31%;
}

@media (max-width: 990px) {
    .vote .autocomplete-items {
        left: 13%;
        top: 34%;
    }
}

.vote .autocomplete-items div {
    cursor: pointer;
    width: 250px;
    background-color: #fff;
    margin-bottom: 1px;
    border-radius: 5px;
    padding-left: 10px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
    color: #333;
}

.vote .autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.vote .autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.per-category {
    margin-top: 1.2rem;
}

.per-category h6 {
    text-align: center;
    font-weight: bold;
    padding: 3px 0;
}

.per-category label {
    display: block;
}

.per-category .col-lg-3 {
    margin-top: 1rem;
}

.per-category .col-lg-3 .inside-col {
    box-shadow: 0 0 2px 1px rgba(19, 19, 19, 0.2);
    transition: all 0.4s ease-out 0s;
    cursor: pointer;
    border-radius: 15px;
    position: relative;
}

.per-category .col-lg-3 .inside-col input[type="radio"] {
    display: none;
}

.per-category .col-lg-3 .inside-col::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Overlay color and opacity */
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
    border-radius: 15px;
}

.per-category .col-lg-3 .inside-col:hover::after {
    opacity: 1;
    /* Show overlay on hover */
}

.per-category .col-lg-3 .inside-col .vote-b {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    padding: 13px 20px;
    border: none;
    border-radius: 25px;
    background-color: #961a1c;
    color: #fff;
    font-size: 15px;
    transition: all 0.3s ease, opacity 0.3s ease;
    z-index: 2;
    cursor: pointer;
    width: 100px;
}

.per-category .col-lg-3 .inside-col .vote-b:hover {
    background-color: #db1216;
}

.per-category .col-lg-3 .inside-col:hover .vote-b {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.per-category img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center 5%;
    border-radius: 15px;
    transition: transform 0.3s ease;
    /* Optional: Slight zoom-in effect on hover */
}

.per-category .col-lg-3 .inside-col label h4 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    width: 95%;
    font-size: 17px;
    border-radius: 5px 5px 15px 15px;
    left: 50%;
    bottom: -4%;
    transform: translate(-50%, 0%);
    padding: 5px;
    text-align: center;
}

.footer-menu {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
    z-index: 999;
    padding: 5px;
}

.footer-menu a {
    color: #333;
    font-size: 14px;
}

.footer-menu a:hover {
    color: #a17409;
}

.footer-menu a.active {
    color: #d29810;
}

.footer-menu a .icon {
    font-size: 26px;
}

.footer-tolerance {
    margin-bottom: 3.5rem;
}

@media (max-width: 1300px) {
    .per-category img {
        height: 300px;
    }
}

@media (max-width: 900px) {
    .per-category img {
        height: 250px;
    }
}

@media (max-width: 500px) {
    .per-category img {
        height: 200px;
    }
}

.per-category button.vote-b {
    outline: none;
    border: none;
    width: 100%;
    padding: 6px 15px;
    cursor: pointer;
    background-color: #a17409;
    font-family: "gothic-bold";
    color: #fff;
    transition: all 0.4s ease-out 0s;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 15px 15px;
}

.per-category button.vote-b:hover {
    background-color: #333;
    color: #fff;
}

.per-category .input-group span {
    color: #fff;
    background-color: rgb(83, 151, 216);
}

.to-blur {
    filter: blur(4px);
}

/*Tickets*/
.ticket-form i {
    position: absolute;
    left: 20%;
    top: 10px;
    font-size: 15px;
    color: #fff;
}

.ticket-form input,
.ticket-form select {
    background-color: transparent;
    width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: none;
    outline: none;
    padding: 10 px 25px;
    margin-top: 5px;
    margin-bottom: 1rem;
    color: #fff;
}

.ticket-form select {
    outline: none;
    border-radius: 20px;
    border: none;
    padding: 5px 20px;
    display: block;
    margin-bottom: 2rem;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-out 0s;
}

.ticket-form select option {
    background-color: transparent;
    color: #333;
}

.ticket-form select:focus {
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.8);
}

.ticket-form button {
    outline: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 20px;
    left: 50%;
    padding: 6px 15px;
    cursor: pointer;
    font-family: "gothic-bold";
    color: #3b3b3b;
    transition: all 0.4s ease-out 0s;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}

.ticket-form button:hover {
    background-color: #333;
    color: #fff;
}

/*About*/
.about {
    color: #fff;
    text-align: justify;
    padding-right: 20px;
}

.about ul {
    padding-left: 20px;
}

.about h3 {
    font-family: "gothic-bold";
}

.about a {
    border-radius: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    color: rgb(231, 231, 231);
}

.about a:hover {
    background-color: transparent;
    color: #333;
}

/*Footer*/
.footer {
    background-color: #333;
    color: #fff;
    padding-top: 10px;
}

.footer p {
    text-align: center;
    font-size: 13px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer .fade-slide {
    -webkit-animation-name: fade-slide;
    -webkit-animation-duration: 1.5s;
    animation-name: fade-slide;
    animation-duration: 1.5s;
}

.footer img {
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes fade-slide {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

.modal-body canvas {
    width: 100%;
    height: 40vh;
    border: 1px solid #bfc0be;
    margin-top: 10px;
    margin-bottom: 20px;
}

.modal-body .alert-success {
    padding: 5px;
    text-align: center;
}

@media (max-width: 1000px) {
    .vote {
        margin-top: 10%;
    }

    .vote .head-container {
        height: 120px;
    }

    .vote .head-container img {
        width: 120px;
    }
}

@media (max-width: 850px) {
    .overlay h1 {
        font-size: 4rem;
    }

    .overlay h2 {
        font-size: 2rem;
    }

    .nominate button {
        left: 40%;
    }

    .per-category button.vote-b {
        left: 45%;
    }

    .side-menu ul a {
        font-size: 13px;
    }

    .vote .categories a {
        font-size: 14px;
        height: 130px;
        padding: 5px;
    }

    .vote .categories a img {
        width: 35px;
        margin: 15px auto 0 auto;
    }
}

@media (max-width: 680px) {

    .ticket-form input,
    .ticket-form select {
        width: 40%;
    }

    .ticket-form button {
        font-size: 15px;
    }

    .overlay h1 {
        font-size: 3rem;
    }

    .overlay h2 {
        font-size: 2rem;
    }

    .vote .countdown .square {
        flex-grow: 1;
        padding: 5px;
        margin: 5px;
    }

    .per-category h6 {
        font-size: 13px;
        text-align: center;
        padding: 3px 0;
    }

    .label-text {
        font-size: 18px;
    }
}

@media (max-width: 520px) {
    .overlay h1 {
        font-size: 2rem;
        margin-bottom: 0.9rem;
    }

    .overlay h2 {
        font-size: 1rem;
    }

    .vote {
        margin-top: 15%;
    }

    .vote .head-container {
        height: 100px;
    }

    .vote .head-container img {
        width: 100px;
    }

    .vote .categories a {
        font-size: 12px;
        height: 110px;
        padding: 3px;
    }

    .vote .categories a img {
        width: 30px;
        margin: 8px auto 0 auto;
    }

    .overlay .overlay_content {
        padding-left: 1rem;
    }

    .overlay a {
        font-size: 13px;
        padding: 8px 10px;
    }

    .floating-menu {
        right: 2%;
    }

    .about p {
        font-size: 14px;
    }

    .about ul {
        font-size: 14px;
    }

    .vote .categories a {
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
        margin: 0.4rem auto;
    }

    .vote .bg {
        background-position: center 34%;
        min-height: 30vh;
        position: relative;
    }

    .vote .countdown .square {
        padding: 2px;
        margin: 2px;
    }

    .vote .countdown .digits {
        font-size: 16px;
        padding: 12px 5px;
        width: 50px;
        height: 50px;
        border-radius: 7px;
    }

    .vote .countdown .text {
        font-size: 9px;
        font-weight: 0;
    }

    .per-category h6 {
        font-size: 10px;
    }

    .per-category button.vote-b {
        left: 40%;
        font-size: 12px;
    }

    .per-category .col-lg-3 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .per-category .col-lg-3 .inside-col h4 {
        font-size: 12px;
    }

    .per-category .col-12 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .side-menu ul a {
        font-size: 10px;
    }

    .nominate {
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    .nominate p {
        font-size: 13px;
        text-align: justify;
    }

    .nominate button {
        margin-bottom: 1rem;
        left: 37%;
        bottom: 0.2rem;
    }

    input {
        margin-bottom: 1rem;
    }

    .modal-title {
        font-size: 20px;
        font-weight: bold;
    }

    .modal-body canvas {
        height: 50vh;
    }

    .alert-success {
        text-align: center;
        font-size: 14px;
    }

    .label-text {
        font-size: 17px;
    }

    .per-category .col-lg-3 .inside-col label h4 {
        width: 96%;
        font-size: 15px;
        border-radius: 5px 5px 13px 13px;
        bottom: -8%;
        padding: 3px;
    }
}

@media (max-width: 420px) {
    .per-category button.vote-b {
        left: 37%;
    }

    .vote .bg {
        background-position: center 34%;
        min-height: 25vh;
        position: relative;
    }

    .vote .categories a {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        margin: 0.4rem auto;
    }

    .modal-title {
        font-size: 16px;
    }

    .alert-success {
        font-size: 12px;
    }

    .vote {
        margin-top: 16%;
    }

    .vote .head-container {
        height: 90px;
    }

    .vote .head-container img {
        width: 90px;
    }

    .overlay .overlay_content {
        padding-left: 1rem;
    }

    .vote .links {
        left: 50%;
        transform: translate(-50%, 0);
    }

    .vote .links a {
        font-size: 12px;
        padding: 4px;
    }

    .label-text {
        font-size: 15px;
    }

    .label-decoration {
        margin-left: 5px;
        width: 25px;
        height: 25px;
    }

    .label-decoration .icons {
        left: 7px;
        top: 6px;
        font-size: 13px;
    }

    .per-category .col-lg-3 .inside-col label h4 {
        font-size: 13px;
    }
}

@media (max-width: 370px) {
    .per-category .col-lg-3 .inside-col h4 {
        font-size: 10px;
    }
}

/*# sourceMappingURL=main.css.map */