* {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#reader {
    width: 100%;
    border: none !important;
}

#result {
    text-align: center;
    font-size: 1.5rem;
}

.html5-qrcode-element {
    cursor: pointer;
    transition: 0.4s;
    margin: 10px auto !important;
    border-radius: 20px;
    padding: 7px 15px;
    outline: none;
    /* border: 1px solid gold; */
}

#html5-qrcode-anchor-scan-type-change {
    text-decoration: none !important;
    background: #9e322d;
    color: #fff;
    font-size: 14px;
    padding: 9px 40px;
}

#html5-qrcode-anchor-scan-type-change:hover {
    border: 1px solid #9e322d;
    background-color: #fff;
    color: #9e322d;
}

.white_box h4 {
    font-size: 15px;
    text-align: center;
    color: #9e322d;
    text-transform: capitalize;
    margin-bottom: 12px;
}

.white_box h3 {
    margin-top: 6px;
    font-size: 35px;
    text-align: center;
    color: #333;
    font-weight: 500;
}

.analytic-title {
    text-align: center;
    background-color: #9e322d;
    color: #fff;
    padding: 5px 20px;
    border-radius: 20px;
    margin: 1rem auto;
    width: 250px;
}

.ticket-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: #f9f9f9;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.ticket-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 0.5rem 0;
}

.ticket-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:none;
    padding:12px 20px;
    color:#fff;
    border-radius:25px;
    background-color: green;
    font-weight:bold;
    box-shadow: 0 0 20px rgba(0,0,0,0.08);
    transition: 0.4s;
}

.ticket-button:hover{
    background-color: #9e322d;
}

.ticket-label {
    font-weight: bold;
    color: #333;
}

.ticket-value {
    color: #555;
}